body {
    background-color: #ccc;
    font: 100% Arial, sans-serif;
}

section {
    margin: 1rem 0;
    padding: 1rem;
    background-color: white;
}

section.h2 {
    font-size: 1rem;
    font-weight: bold;
    background-color: #eee;
    border-bottom: 2px solid black;
    padding: 1rem;
}